@media screen and (max-width: 1400px) {
  .App {
    min-width: 46%;
  }
}

@media screen and (max-width: 1200px) {
  .App {
    min-width: 54%;
  }
}

@media screen and (max-width: 992px) {
  .App {
    min-width: 66%;
  }
}

@media screen and (max-width: 768px) {
  .App {
    min-width: 84%;
  }
}

@media screen and (max-width: 576px) {
  .App {
    min-width: 94%;
    margin: 0 1rem;
    padding: 1rem;
  }

  .title {
    font-size: 2.2rem;
  }

  .result .result-control {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
  }
}
